<%@employee_review_values.each_with_index do |value,index|%>
								<div class="ui-state-default tabscontent ">
								<% a=true%><% b=true%>
								<%= form_for @employee_review_evaluations[index] do |f| %>
								<div class="expnd" id=<%=index%>  onclick="javascript:showmanager(this.id)"></div>
									<div class="expnd_item value_name"><%=value.title%>..</div>
									<!--div class="expnd_item value_name"><%=value.description.slice(0,5)%>..</div-->
									<div class="check"><div class="expnd_item">
									<%= f.fields_for :evaluation_scores do |s| %>
									<% if  a%>
									<% if  b%>
									<%b=false%>
									<%next%>
									<%end%>
									<%= s.select :score_id, @scores.collect{ |u| [u.points, u.id] }, { :prompt => '--' }%>	
									<%= s.hidden_field :evaluator_id, :value=>current_employee.id %>
									<%= s.hidden_field :submitter_id, :value=>@employee_review_evaluations[index].evaluation_scores.first.evaluator_id%>									
									</div>
									<%= s.fields_for :evaluation_comment do |v| %>
									<div class="expnd_item descton"><%= v.text_area :comment,:placeholder=>"Manager Comment",:class=>"cmt_txt_ar", :rows=>"1" %></div>
									<%end%><%end%><%end%>
	
									<div class="expnd_item  ">
									<!--<label class="self_point_green" ">Good</label>-->
									<!--div class="giff_ldr"></div-->
									</div><div class="expnd_item">
									  <input name="submit" type="submit" class="accept_btn" value="Accept" />
									</div>
									<div class="expnd_item">
									<input type="submit" value="Refer" class="cmn_btn"></div></div>
									<%end%>
								</div>
								<!--<expand>-->
<%= render :partial => 'employee_review_evaluation_expand', :locals => {:index => index, :value=> value} %>

								<%end%>

							<!--	<item end>-->
							
</div>
</div>
  </div>
</div> 
<!--<content>-->

