
<%=form_for :evaluation do |f|%>
<div  class="expnd" onclick="javascript:showvldts()"></div>
<div class="expnd_item value_name">value..</div>
<div class="expnd_item descton_one">description..</div>
	<%= f.hidden_field :employee_id, :value=>current_employee.id%> 
	<%= f.hidden_field :value_id%> 
		<%= f.fields_for :evaluation_scores do |s| %>
		  <%= s.hidden_field :evaluator_id, :value=>current_employee.id %>
<div class="expnd_item">
		  <%= s.select :score_id, options_for_select(@scores.collect{ |u| [u.points, u.id] })%></div>
<%#=f.label :selectManagers%>
			<%#= s.select :submitter_id,options_for_select(@managers) %>
<div class="expnd_item">
			<%= s.fields_for :evaluation_comments do |v| %>

				<%= v.text_area :comment,:placeholder=>"Your Comment",:class=>"cmt_txt_ar", :rows=>"1" %>
</div>
		<div class="expnd_item">
  <p><%= f.submit "Submit",  :class => "cmn_btn" %></p></div>
<div class="check"><input type="checkbox" /></div>
	<%end%>
<% end %>
		<% end %>

