<%=form_for :evaluation do |f|%>
	
	<%= f.hidden_field :employee_id, :value=>current_employee.id%> 
	<%= f.hidden_field :value_id%> 
		<%= f.fields_for :evaluation_scores do |s| %>
		  <%= s.hidden_field :evaluator_id, :value=>current_employee.id %>
<%=f.label :points%>
		  <%= s.select :score_id, options_for_select(@scores.collect{ |u| [u.points, u.id] })%></br>
<%=f.label :selectManagers%>
			<%= s.select :submitter_id,options_for_select(@managers) %></br>
			<%= s.fields_for :evaluation_comments do |v| %>
<%=v.label :comments%>
				<%= v.text_field :comment%></br>
			<div id="sub">
  <p><%= f.submit "Submit" %></p></div>
	<%end%>
<% end %>
		<% end %>

