<!DOCTYPE html>
<html>
<body>
<%= form_tag '/evaluations/test_report' do %>
 <%= autocomplete_field_tag 'first_name', '','/evaluations/autocomplete_employee_detail_first_name', :size => 35%> 
<%= submit_tag "Search", :name => nil %>
<% end %></br></br></br>



<%= form_tag '/evaluations/test_report' do %>
<%= select_month(14,:prompt => 'Choose month')%>
<%= submit_tag "Search", :name => nil %>
<% end %></br></br></br>
<% @dates.each do |date|%>
<% @eval_periods.each do |period| %>
<%= date%>
	<table border="1" align = "center">
		<tr>
		  <th>Name</th>
			<%@values.each do |val|%>
					<th><%=val.title%></th>
			<%end%>
	 		<th>Total</th>
		</tr>
		<%@master_record_set.each_pair do |k,v|%>
			<%if v.is_a?(Hash)%>
				<% record= @superior_employees[k] %>
			<% else %>
				<% record = v %>
			<% end %>
		<tr id = <%= k%> class ="one" >
<td><div class="expnd" id=<%=k%>></div>
			<%= record.name%></td>
		 	<% total_score = 0 %>
			<%@values.each do |val|%>
				<% eve = employee_last_evaluation  k, val, period %>
				<% unless eve.blank?%>
				  <% eve.each do |ev| %>
				    <% s = get_manager_score record , ev%>
				    <td><%= s %></td>
				    <% total_score+= (s == 'N/A' ? 0 : s.to_i) %>
				  <%end%> 
				<%else%>
				  <td>--</td>
				<%end%>
			<%end%>
			<td><%=total_score == 0 ? '' : total_score%></td>
			

			<%if v.is_a?(Hash)%>
				<% v.each_pair do |k1,v1| %>
					<%if v1.is_a?(Hash)%>
						<% record1 = @superior_employees[k1] %>
					<% else %>
						<% record1 = v1 %>
					<% end %>
					<tr id = <%= k1%> class = 'superior_<%= k%>' style = "display:none" >
					<td>
						<% if @superior_ids.include?k1 %>
							<div class="expnd" id=<%=k1%>></div>
						<% end %>
						<%= record1.name%>
					</td>
			 		<% total_score = 0 %>
					<%@values.each do |val|%>
						<% eve = employee_last_evaluation  k1, val, period %>
						<% unless eve.blank?%>
						  <% eve.each do |ev| %>
						    <% s = get_manager_score record1 , ev%>
						    <td><%= s %></td>
						    <% total_score+= (s == 'N/A' ? 0 : s.to_i) %>
						  <%end%> 
						<%else%>
						  <td>--</td>
						<%end%>
					<%end%>
					<td><%=total_score == 0 ? '' : total_score%></td>
</tr>
					<%if v1.is_a?(Hash)%>
						<% v1.each_pair do |k2,v2| %>
							<%if v2.is_a?(Hash)%>
								<% record2 = @superior_employees[k2] %>
							<% else %>
								<% record2 = v2 %>
							<% end %>
<tr id = <%= k2%>  class = 'superior_<%= k1%>' style = "display:none" >

							<td>
								<% if @superior_ids.include?k2 %>
									<div class="expnd" id=<%=k2%>></div>
								<% end %>
								<%= record2.name%></td>
					 		<% total_score = 0 %>
							<%@values.each do |val|%>
								<% eve = employee_last_evaluation  k2, val, period %>
								<% unless eve.blank?%>
									<% eve.each do |ev| %>
										<% s = get_manager_score record2 , ev%>
										<td><%= s %></td>
										<% total_score+= (s == 'N/A' ? 0 : s.to_i) %>
									<%end%> 
								<%else%>
									<td>--</td>
								<%end%>
							<%end%>
							<td><%=total_score == 0 ? '' : total_score%></td>



							<%if v2.is_a?(Hash)%>
								<% v2.each_pair do |k3,v3| %>
									<%if v3.is_a?(Hash)%>
										<% record3 = @superior_employees[k3] %>
									<% else %>
										<% record3 = v3 %>
									<% end %>
									<tr id = <%= k3%> class = 'superior_<%= k2%>' style = "display:none">
									<td><%= record3.name%></td>
							 		<% total_score = 0 %>
									<%@values.each do |val|%>
										<% eve = employee_last_evaluation  k3, val, period %>
										<% unless eve.blank?%>
											<% eve.each do |ev| %>
												<% s = get_manager_score record3 , ev%>
												<td><%= s %></td>
												<% total_score+= (s == 'N/A' ? 0 : s.to_i) %>
											<%end%> 
										<%else%>
											<td>--</td>
										<%end%>
									<%end%>
									<td><%=total_score == 0 ? '' : total_score%></td>
								<%end%>
							<% end %>
							

</tr>


						<%end%>
					<% end %>
					
		</tr>		

				<%end%>
			<% end %>





		<%end%>
	</table>
</br></br></br></br>
<% end %><%end%>
</body>


