

Team Members </br>
<%= form_for [@find_comment,@comment] do |f| %>
	<% @employee_detail.each do |d|%>
		<div class ="comment">
			<%= d.first_name%>
			<%= check_box_tag 'accept',:disabled => false %></br>
		</div>
	<%end%><br/>
		<div class ="comment">
		<%= f.text_area :comment,:placeholder=>"Your Comment",:class=>"descr_txt_exp", :rows=>"1"%><br/>
		</div><br/>
	<%= f.submit "Submit" %>
<%end%>

