<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
 <div class="login_option_inner">
  <%= f.hidden_field :reset_password_token %>

  NEW PASSWORD<br/>
  <%= f.password_field :password %>

CONFIRM NEW PASSWORD<br />
  <%= f.password_field :password_confirmation %>

  <div><%= f.submit "resend", :class=>"sign_in_btn" %><br /><br /></div>
 <%if resource.errors.present?%>
						<div class="error_box">
				 <%#= devise_error_messages!%>
					<% resource.errors.full_messages.each do |msg| %>
				       <p><%= msg %></p>
				       <% end %></div>
	<% end %>
 <%end%>
